<div class="flex h5" *ngIf="config.isComponentOpened">
  <div class="outline w-75 ma2">
    <p> {{ config.title }} component <span *ngIf="collected > 0">({{ collected }})</span></p>
    <div class="progress-bar">
      <div class="progress" [style.width.%]="loadingPercent"></div>
    </div>
    <button [disabled]="!isCanCollect()" (click)="collect()">Collect {{config.collectValue}}</button>
    <button (click)="upgrade()" [disabled]="!isCanUpgrade">Upgrade [{{config.upgradeCost}}]</button>
  </div>
  <div class="outline w-25">
    <button [disabled]="!isCanHireDeveloper" (click)="onHireDeveloper()">
      <span>Hire developer</span>
      <span *ngIf="config.isDeveloperHired"> [Hired] </span>
      [{{config.developerConst}}]
    </button>
  </div>
</div>
<div class="flex h5 flex-column" *ngIf="!config.isComponentOpened">
  <div class="outline w-100 ma2 min-h-100">
    <span>Open new component {{config.title}}</span>
    <div>
      <button [disabled]="!isCanBuyComponent" (click)="onBuyComponent()">Buy {{config.openComponentConst}}</button>
    </div>
  </div>
</div>
